$bgBlue:#3366ff;
$bgF9:#F9F9FD;

// 字体颜色
$white: #fff;
$black: #2F3559;

// 边框颜色
$border:#EAEAEE;
$line:#EEEEEE;
$homeListBorder:#E2E3E6;

// 背景颜色
$bg:#F9F9FC;
$bgF9: #F9F9FD;
$bgBtn:#315CE1;
$tips:#1890ff;